﻿@model DesktopMobileSwitcher.Models.DVD

@{
    ViewBag.Title = "New DVD";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div data-mini="true">

        <div data-role="fieldcontain">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        
        <div data-role="fieldcontain">
            @Html.LabelFor(model => model.Year)
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>
        
        <div data-role="fieldcontain">
            @Html.LabelFor(model => model.Rating)
            @Html.EditorFor(model => model.Rating)
            @Html.ValidationMessageFor(model => model.Rating)
        </div>
        <div>
            <a href="@Url.Action("Index", "DVD")"
                data-role="button" data-inline="true"
                data-icon="back" data-theme="c">Cancel</a>
            <input type="submit" value="Save"
                data-inline="true" data-icon="check" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
