﻿@model DesktopMobileSwitcher.Models.DVD

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>

<div>
    <h2>@Html.DisplayFor(modelItem => Model.Title)</h2>
    <p>@Html.DisplayFor(modelItem => Model.Year) - @Html.DisplayFor(modelItem => Model.Rating)</p>
</div>
@using (Html.BeginForm()) {
    <div style="text-align: center;">
        <a href="@Url.Action("Edit", "DVD", new { id = @Model.ID })"
            data-role="button" data-inline="true"
            data-icon="back" data-theme="c">Cancel</a>
        <input type="submit" value="Delete"
            data-theme="a" data-inline="true"
            data-icon="delete" />
    </div>
}
