﻿@model DesktopMobileSwitcher.Models.DVD

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div class="ui-hide-label" data-mini="true">
        <div data-role="fieldcontain">
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        
        <div data-role="fieldcontain">
            @Html.LabelFor(model => model.Year)
            @Html.EditorFor(model => model.Year)
            @Html.ValidationMessageFor(model => model.Year)
        </div>
        
        <div data-role="fieldcontain">
            @Html.LabelFor(model => model.Rating)
            @Html.EditorFor(model => model.Rating)
            @Html.ValidationMessageFor(model => model.Rating)
        </div>
        <div>
            <input type="submit" value="Save"
                data-icon="check" />
        </div>
        <div style="text-align: center;">
            <a href="@Url.Action("Index", "DVD")"
                data-role="button" data-inline="true"
                data-icon="back" data-theme="c">Cancel</a>
            <a href="@Url.Action("Delete", "DVD", new { id = @Model.ID })" data-role="button"
                data-icon="delete" data-theme="a"
                data-inline="true">Delete</a>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
