﻿@model IEnumerable<DesktopMobileSwitcher.Models.DVD>

@{
    ViewBag.Title = "My DVDs";
}

<ul data-role="listview" data-filter="true">
    @foreach (var item in Model) {
        <li>
            <a href="@Url.Action("Edit", new { item.ID })">
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                <p>@Html.DisplayFor(modelItem => item.Year) - @Html.DisplayFor(modelItem => item.Rating)</p>
            </a>
        </li>
    }
</ul>