﻿@model DesktopMobileSwitcher.Models.Rating?
@using DesktopMobileSwitcher.Models

<select id="@ViewData.TemplateInfo.GetFullHtmlFieldId("")"
    name="@ViewData.TemplateInfo.GetFullHtmlFieldName("")">
    @foreach (int rating in Enum.GetValues(typeof(Rating))) {
        var name = Enum.GetName(typeof(Rating), rating);
        bool isSelected = Model.HasValue ? (int)Model == rating : false;
        <option value="@name" selected="@isSelected">@name</option>
    }
</select>
