﻿<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title> 
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/Mobile/css", "~/Content/jquerymobile/css")
        @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
        <script>
            $(document).ready(function () {
                $.mobile.ajaxEnabled = false; 
            });
        </script>
    </head> 
<body> 

    <div data-role="page" data-theme="b">
        @Html.Partial("_ViewSwitcher")

        <div data-role="header" data-iconpos="left">
            <a href="@Url.Action("Index", "DVD")" data-icon="home">Home</a>
            <h1>@ViewBag.Title</h1>
            <a href="@Url.Action("Create", "DVD")" data-icon="plus">New</a>
        </div>

        <div data-role="content">
            @RenderSection("featured", false)
            @RenderBody()		
        </div>

    </div>
    
    @RenderSection("scripts", required: false)
</body>
</html>